

.navbar-light {

    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);

}

.container-button{

    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}

.auth-wrapper {
    display: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    height: 300px;
    width: 650px;
    margin: 300px;
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    
}

.footer{

    background: rgb(109, 107, 107);

}

h5{
    color: #ffffff
}


h1, h2, h3, h4, h5, h6, label, span {

    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}
